/* ipad Pro */
@media screen and (max-width: 1366px){
    br {
        display: none;
    }

    .team h3 {
        font-size: 21px;
        line-height: 30px;
    }

    .about .b-r-1:before {
        display: none;
    }

    #hero .ani-left {
        position: absolute;
        top: 22%;
        left: -25%;
    }

    #hero .ani-up {
        position: absolute;
        bottom: 9%;
        right: -5%;
    }
}

@media screen and (max-width: 1239px){
    br {
        display: none;
    }

    .team h3 {
        font-size: 21px;
        line-height: 30px;
    }

    .about .b-r-1:before {
        display: none;
    }

    #hero .ani-left {
        position: absolute;
        top: 21%;
        left: -32%;
    }

    #hero .ani-up {
        position: absolute;
        bottom: 9%;
        right: -15%;
    }

    .aucapp{
        padding: 200px 0px;
    }

    .aucapp h1{
        font-size: 35px;
    }

    .aucapp button{
        width: 60%;
        padding: 12px 0px;
    }

    .techno .techno-box .img-box h4{
        font-size: 20px;
    }
}

@media (max-width: 1200px){
    .about figure{
        float: none;
    }

    .info .text-box h3{
        font-size: 22px;
    }

    .info .text-box p{
        font-size: 18px;
    }

    .techno .techno-box .img-box{
        padding: 15px;
    }
    .techno .techno-box .img-box h4{
        font-size: 18px;
    }

    .unique .unique-box .img-box h6 {
        margin: 30px 18px;
        font-size: 20px;
    }

    .unique .unique-box .img-box p {
        font-size: 19px;
    }

    .section-title h2{
        font-size: 40px;
    }

    .section-title p{
        font-size: 18px;
    }
}

/* ipad */
@media screen and (max-width: 991px){
    section {
        padding: 40px 0;
        overflow: hidden;
    }

    #hero br {
        display: none;
    }

    .about .b-r-1:before {
        display: none;
    }

    #hero h1 {
        font-size: 38px;
    }

    #hero h2 {
        font-size: 34px;
    }

    .title h2 {
        font-size: 38px;
    }

    .title P {
        font-size: 19px;
        line-height: 29px;
    }

    .title {
        padding-bottom: 30px;
    }

    .team h3 {
        font-size: 23px;
    }

    .info .content h3 {
        font-size: 38px;
        line-height: 46px;
    }

    #hero .ani-left {
        display: none;
    }

    #hero .ani-up {
        display: none;
    }

    .mobile_br br {
        display: none;
    }

    .content.icon-boxes {
        padding: 0;
    }


    #footer .footer_mobile {
        margin: 2rem 0 0;
        padding: 0;
    }

    .aucapp{
        padding: 180px 0px;
    }

    .aucapp h1{
        font-size: 35px;
    }

    .aucapp button{
        font-size: 20px;
        width: 60%;
        padding: 12px 0px;
    }

    .unique .unique-box:first-child{
        margin-bottom: 30px;
    }

    .unique .unique-box:nth-child(2){
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 767px){
    section {
        padding: 30px 0;
        overflow: hidden;
    }

    .hero-right {
        text-align: center;
    }

    #hero br {
        display: none;
    }

    .about .b-r-1:before {
        display: none;
    }

    #hero h1 {
        font-size: 34px;
    }

    #hero h2 {
        font-size: 30px;
    }

    #hero img {
        max-width: 60%;
    }

    .title h2 {
        font-size: 34px;
    }

    .title P {
        font-size: 18px;
        line-height: 26px;
    }

    .title {
        padding-bottom: 25px;
    }

    .team h3 {
        font-size: 23px;
    }

    .info .content h3 {
        font-size: 38px;
        line-height: 46px;
    }

    .info br {
        display: none;
    }

    .info .info-box{
        margin-top: 15px;
    }

    .info .content p {
        font-size: 20px;
        margin-top: 1rem;
    }

    #hero .ani-left {
        display: none;
    }

    #hero .ani-up {
        display: none;
    }

    .mobile_br br {
        display: none;
    }

    .content.icon-boxes {
        padding: 0;
    }

    #footer .footer_mobile {
        margin: 2rem 0 0;
        padding: 0;
    }

    .mobile_p_t_40 {
        padding-top: 60px;
    }

    .aucapp{
        background-position: center;
        padding: 150px 0px;
    }

    .aucapp h1 {
        font-size: 30px;
    }

    .aucapp button {
        font-size: 20px;
        width: 55%;
        padding: 10px 0px;
    }

    .section-title h2{
        font-size: 35px;
    }
}

@media screen and (max-width: 575.98px){

    #header .logo img {
        width: 180px;
    }

    section {
        padding: 20px 0;
        overflow: hidden;
    }

    .hero-right {
        text-align: center;
    }

    #hero br {
        display: none;
    }

    #hero {
        padding: 100px 0 50px;
    }

    .about .b-r-1:before {
        display: none;
    }

    .shape_right_1,
    .shape_left_2,
    .shape_right_3,
    .shape_left_4 {
        display: none;
    }

    #hero h1 {
        font-size: 28px;
        margin-bottom: 1rem;
    }

    #hero h2 {
        font-size: 26px;
    }

    #hero img {
        max-width: 60%;
    }

    .title h2 {
        font-size: 34px;
    }

    .title P {
        font-size: 18px;
        line-height: 26px;
    }

    .title {
        padding-bottom: 35px;
    }

    .team h3 {
        font-size: 23px;
    }

    .info .content h3 {
        font-size: 36px;
        line-height: 44px;
    }

    .info br {
        display: none;
    }

    br {
        display: none;
    }

    .info .content p {
        font-size: 19px;
        margin-top: 0.5rem;
        line-height: 28px;
    }

    #hero .ani-left {
        display: none;
    }

    #hero .ani-up {
        display: none;
    }

    .mobile_br br {
        display: none;
    }

    .content.icon-boxes {
        padding: 0;
    }

    #footer .footer_mobile {
        margin: 2rem 0 0;
        padding: 0;
    }

    .mobile_p_t_40 {
        padding-top: 50px;
    }

    .portfolio h2 {
        padding: 20px 0 0px;
    }

    .aucapp{
        background-position: center;
        padding: 120px 0px;
    }

    figure.effect-sarah h2{
        font-size: 18px;
    }

    .team h3{
        font-size: 18px;
    }

    .title h2{
        font-size: 20px;
    }

    .techno .carousel-inner{
        padding: 0px;
    }

    .unique .unique-box:nth-child(3){
        margin-bottom: 30px;
    }

    section {
        padding: 30px 0;
    }

    .section-title h2 {
        font-size: 25px;
    }

    .section-title p {
        font-size: 15px;
    }

    .section-title {
        padding-bottom: 20px;
    }
    .footer{
        padding-bottom: 30px;
    }
}

@media (max-width: 350px) {
    section {
        padding: 20px 0;
        overflow: hidden;
    }

    .hero-right {
        text-align: center;
    }

    #hero br {
        display: none;
    }

    #hero {
        padding: 100px 0 50px;
    }

    .about .b-r-1:before {
        display: none;
    }

    .shape_right_1,
    .shape_left_2,
    .shape_right_3,
    .shape_left_4 {
        display: none;
    }

    #hero h1 {
        font-size: 24px;
        margin-bottom: 1.5rem;
    }

    #hero h2 {
        font-size: 22px;
    }

    #hero img {
        max-width: 60%;
    }

    .title P {
        font-size: 18px;
        line-height: 26px;
    }

    .title {
        padding-bottom: 25px;
    }

    .team h3 {
        font-size: 20px;
        line-height: 24px;
    }

    .team .icon-box {
        padding: 20px;
        margin-bottom: 15px;
    }

    .info .content h3 {
        font-size: 30px;
        margin-left: 0;
        line-height: 38px;
    }

    .info br {
        display: none;
    }

    br {
        display: none;
    }

    .portfolio .icon-box .icon {
        padding: 20px;
        width: 100px;
        height: 100px;
    }

    .info .content p {
        font-size: 18px;
        margin-top: 0.5rem;
        line-height: 28px;
    }

    .portfolio .icon-box h3 {
        font-size: 17px;
    }

    #hero .ani-left {
        display: none;
    }

    #hero .ani-up {
        display: none;
    }

    .mobile_br br {
        display: none;
    }

    .content.icon-boxes {
        padding: 0;
    }

    #footer .footer_mobile {
        margin: 2rem 0 0;
        padding: 0;
    }

    .about .card-box p {
        font-size: 18px;
    }

    .about .card-box h3 {
        font-size: 22px;
        margin-top: 0px;
    }

    .ui_slider .owl-carousel .owl-stage-outer {
        height: auto;
    }

    .portfolio h2 {
        padding: 0;
    }

    .mobile_p_t_40 {
        padding-top: 50px;
    }

    .ui_slider .owl-carousel .owl-stage-outer:before {
        display: none;
    }

    .aucapp h1 {
        font-size: 20px;
    }

    .aucapp button {
        font-size: 15px;
        width: 50%;
        padding: 8px 0px;
    }

    .aucapp{
        background-position: center;
        padding: 80px 0px;
    }

    .info .text-box h3{
        font-size: 18px;
    }

    .info .text-box p {
        font-size: 15px;
    }

    .team h3 {
        font-size: 15px;
    }

    #hero p{
        font-size: 16px;
    }

    #hero button{
        font-size: 16px;
    }

    .title p{
        font-size: 16px;
    }

    .techno .techno-box .img-box{
        padding: 10px;
    }

    .techno .techno-box .img-box h4{
        font-size: 15px;
    }

    .unique .unique-box .img-box {
        padding: 25px 25px;
    }

    .unique .unique-box .img-box h6 {
        font-size: 18px;
    }

    .unique .unique-box .img-box p {
        font-size: 15px;
    }

    .section-title h2 {
        font-size: 22px;
    }

}