/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../assets/fonts/MyriadPro-Bold.woff2') format('woff2'), url('../../assets/fonts/MyriadPro-Bold.woff') format('woff'), url('../../assets/fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../../assets/fonts/MyriadPro-Regular.woff2') format('woff2'), url('../../assets/fonts/MyriadPro-Regular.woff') format('woff'), url('../../assets/fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cartoonist';
    src: url('../fonts/CartoonistKooky.woff2') format('woff2'), url('../fonts/CartoonistKooky.woff') format('woff'), url('../fonts/CartoonistKooky.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Myriad Pro', sans-serif;
    color: #0c0502;
    cursor: default;
}

a {
    color: #000;
    cursor: pointer;
}

button {
    box-shadow: none !important;
    outline: none;
    border: none;
}

button:focus {
    outline: unset;
    outline: 0;
}

a:hover {
    color: #000;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Myriad Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
.media-body {
    cursor: default !important;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background-color: #59c35f;
    border-radius: 0px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #ff8000;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    display: none;
    right: 25px;
    bottom: 25px;
    z-index: 99999;
    border-radius: 500px;
    background: #178403;
    color: #fff;
    transition: all 0.4s;
}

.back-to-top i {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    font-size: 25px;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 500px;
}


/*--------------------------------------------------------------
# Animation
--------------------------------------------------------------*/

#main {
    position: relative;
}

.label {
    background-color: hsla(120, 100%, 75%, 0.3);
    width: 63%;
    border-radius: 25px;
    height: 50px;
    font-size: 24px;
    color: #131313;
    font-weight: 600;
    padding: 7px;
    font-family: 'Cartoonist', sans-serif;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#Layer_1 {
    bottom: 0;
    position: absolute;
    z-index: -1;
}

@media screen and (max-width: 992px) {
    #Layer_1 {
        display: none;
    }
}

@keyframes shimmy {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(20px, 50px);
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #59c35f;
    border-top-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    transition: all 0.5s;
    z-index: 997;
    top: 20px;
    overflow: hidden;
}

#header.header-scrolled,
#header.header-inner-pages {
    background-color: #59c35f;
    top: 0px;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 5px 0px;
}

#header.header-scrolled .logo img {
    filter: brightness(0) invert(1);
    padding: 10px 0px;
}

#header a {
    display: flex;
}

#header.header-scrolled .nav-menu>ul>li>a:before {
    background-color: #fff !important;
}

@media (max-width: 992px) {
    #header {
        padding: 0 px 0;
    }
    #header .logo {
        font-size: 28px;
    }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/


/* Desktop Navigation */

.nav-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu>ul {
    display: flex;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 10px;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #2f130b;
    transition: 0.3s;
    font-size: 17px;
    font-weight: 600;
    padding: 0 3px;
    letter-spacing: 0.3px;
    line-height: 1;
    text-transform: capitalize;
    background-color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer !important;
}

.nav-menu>ul>li:last-child a {
    background-color: #ff8000;
    color: #fff;
}

#header.header-scrolled .nav-menu>ul>li:last-child a {
    background-color: #fff;
    color: #2f130b;
}

.nav-menu>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #f5d534;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.nav-menu>ul>li>a:last child {
    content: none;
    position: absolute;
    width: 0%;
    height: 0px;
    bottom: 0px;
    left: 0;
    background-color: transparent;
}


/*
.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .active>a:before {
    visibility: visible;
    width: 100%;
}*/

.nav-menu a:hover,
.nav-menu .active>a,
.nav-menu li:hover>a {
    color: #54c563;
}

#header.header-scrolled .nav-menu a:hover,
#header.header-scrolled .nav-menu .active>a,
#header.header-scrolled .nav-menu li:hover>a {
    color: #54c563 !important;
}

.get-started-btn {
    margin-left: 20px !important;
    color: #000 !important;
    border-radius: 50px;
    padding: 10px 25px 10px 25px !important;
    white-space: nowrap !important;
    transition: 0.3s !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    display: inline-block !important;
    background-color: #f5d534 !important;
    letter-spacing: 0.3px;
}

.get-started-btn:hover {
    border-color: #fff;
    color: #fff;
}

.nav-menu>ul>li>a:before {
    content: "";
    visibility: hidden;
}


/* Mobile Navigation */

.mobile-nav-toggle {
    position: relative;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 28px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.mobile-nav-toggle i {
    color: #ffffff;
}

#header.header-scrolled .mobile-nav-toggle i {
    color: #fff;
}

#header .logo img {
    width: 250px;
}

#header a {
    display: flex;
}

.mobile-nav {
    position: fixed;
    top: 75px;
    right: 15px;
    left: 15px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff0;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: unset;
}

#mobile_nav {
    margin-left: auto;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav ul {
    background: #fff;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #000000;
    padding: 10px 20px;
    font-weight: 600;
    outline: none;
    font-size: 18px;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #4CAF50;
    text-decoration: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #ffffff;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.topback {
    text-align: center;
    background-color: #54c563;
}

#hero {
    width: 100%;
    background-image: url(../img/ic_back.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    height: auto;
    z-index: 1;
    padding: 200px 0;
}

.hero-right {
    margin-bottom: -10px;
}

#hero a {
    display: inline-block;
}

@-webkit-keyframes movebounce {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes movebounce {
    0% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes moveleftbounce {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes moveleftbounce {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }
    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

#hero h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0c0502;
    text-align: left;
    margin-bottom: 1rem;
}

#hero p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0c0502;
    text-align: left;
    margin-bottom: 1.5rem;
}

#hero span {
    color: #4CAF50;
}

#hero a {
    width: 45%;
    background-color: #ffffff;
    margin-bottom: 2rem;
    border: none;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    color: #0c0502;
    text-align: center;
}

.hero-img {
    position: relative;
}

.hero-img img {
    position: relative;
    z-index: 1;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 75px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #fff;
}

.section-title h2 {
    color: #0c0502;
    padding: 0px 0px 20px 0px;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.section-title {
    padding-bottom: 50px;
}

.section-title h4 {
    text-align: center;
    color: #1b1b1b;
    padding: 0px 0px 10px 0px;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 40px;
}

.section-title p {
    color: #1b1b1b70;
    padding: 0px 0px 20px 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    margin-top: 1.2rem;
    margin-bottom: 0;
    padding: 0;
}

.section-title span {
    color: #f5d534;
}

.shape_right_1 {
    position: absolute;
    right: 0;
    top: 10%;
    background-image: url('../../../../index.html');
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 229px;
    z-index: 999;
}

.shape_left_2 {
    position: absolute;
    left: 0;
    top: 27%;
    background-image: url('../../../../index.html');
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 229px;
    z-index: 999;
}

.shape_right_3 {
    position: absolute;
    right: 0;
    bottom: 36%;
    background-image: url('../../../../index.html');
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 229px;
    z-index: 999;
}

.shape_left_4 {
    position: absolute;
    left: 0;
    bottom: 20%;
    background-image: url('../../../../index.html');
    background-repeat: no-repeat;
    background-size: cover;
    width: 190px;
    height: 229px;
    z-index: 999;
}


/*--------------------------------------------------------------
# Center text
--------------------------------------------------------------*/

.center_text {
    padding: 20px;
    position: relative;
}

.about .center_text p {
    font-size: 22px;
}


/*.about p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0c0502;
    text-align: left;
    margin-bottom: 1.5rem;
}*/


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.gameFeatures {
    position: relative;
}

.second_text {
    position: relative;
    font-size: 21px;
}

#second_circle {
    right: 0px;
    position: absolute;
}

.gamelevels {
    position: relative;
}

.gamelevels .img-box img {
    max-width: 220px;
}

#first_circle {
    left: 0px;
    position: absolute;
}

.about .card-box {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    text-align: center;
}

.about .card-box h3 {
    font-size: 24px;
    color: #000;
    margin-top: 15px;
    font-weight: 600;
}


/* Common style */

.about figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.about figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.7;
}

.about figure figcaption {
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.about figure figcaption::before,
.about figure figcaption::after {
    pointer-events: none;
}

.about figure figcaption,
.about figure figcaption>a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

figure.effect-sarah {
    background: #000000;
}

figure.effect-sarah img {
    max-width: none;
    width: -webkit-calc(100% + 20px);
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-sarah:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah h2 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
    font-size: 27px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}

figure.effect-sarah h2::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

figure.effect-sarah:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-sarah p {
    padding: 0.7em 0 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    text-align: center;
    text-transform: capitalize;
}

figure.effect-sarah:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.about .b-r-1:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    height: 100px;
    width: 2px;
    background-color: #a3a3a347;
}

.about .card-box p {
    font-size: 20px;
    color: #a3a3a3;
    line-height: 24px;
    margin: 0;
    letter-spacing: 0.3px;
}


/*--------------------------------------------------------------
# Info
--------------------------------------------------------------*/

section#info {
    position: relative;
    /*background: #f1ecfb;*/
}

.content.icon-boxes {
    padding: 30px;
}

.info .text-box h3 {
    font-size: 26px;
    font-weight: 600;
    color: #464646;
}

.info .text-box p {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-top: 0.5rem;
    color: #464646;
    line-height: 32px;
}


/*--------------------------------------------------------------
# TEAM
--------------------------------------------------------------*/

.team .icon-box {
    /* display: flex; */
    align-items: center;
    padding: 20px;
    transition: ease-in-out 0.3s;
    margin-bottom: 30px;
    /* box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.05); */
}

.team img {
    text-align: center;
}

.team h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
}


/*--------------------------------------------------------------
# technology used
--------------------------------------------------------------*/

.aucapp {
    background-image: url(../../../../index.html);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0px 0px;
}

.aucapp h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 600;
}

.aucapp button {
    color: #fff;
    background-color: #4CAF50;
    width: 60%;
    padding: 12px 0px;
    font-size: 20px;
}


/*--------------------------------------------------------------
# technology used
--------------------------------------------------------------*/

.techno {
    /*background-color: #f0ecfb;*/
}

.techno .techno-box {
    padding: 15px;
}

.techno .techno-box .img-box {
    margin: auto;
    padding: 50px;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px #00000026;
    border-radius: 15px;
    height: 100%;
}

.techno .techno-box .img-box img {
    max-width: 70px;
}

.techno .techno-box .img-box h3 {
    margin-top: 30px;
    padding: 10px 0px;
    font-size: 22px;
    font-weight: 400;
    position: relative;
}

.techno .techno-box .img-box h3:before {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #fff, #0000003d, #fff);
    height: 3px;
    width: 100%;
    display: block;
    top: 0px;
}

.techno .techno-box .img-box h3:after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #fff, #0000003d, #fff);
    height: 3px;
    width: 100%;
    display: block;
    bottom: 0px;
}


/*--------------------------------------------------------------
# unique
--------------------------------------------------------------*/

.unique .unique-box .img-box {
    background-color: #aae2b169;
    border: 8px solid white;
    border-radius: 15px;
    text-align: center;
    padding: 35px 25px;
    box-shadow: 0px 0px 15px #00000014;
    height: 100%;
}

.unique .unique-box .img-box img {
    max-width: 120px;
    filter: brightness(0);
}

.unique .unique-box .img-box h6 {
    margin: 30px 50px;
    font-size: 24px;
    font-weight: 600;
}

.unique .unique-box .img-box p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 22px;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.faq {
    background-image: url(../../../../index.html);
    background-repeat: no-repeat;
    background-size: cover;
}

.faq .section-title h2 {
    text-transform: capitalize;
}

.faq .faq-list ul {
    padding: 0;
    list-style: none;
    margin-bottom: 0px;
}

.faq .faq-list li+li {
    margin-top: 15px;
}

.faq .faq-list i {
    color: #000;
}

.faq .faq-list li {
    padding: 0px;
    background: #fff;
    position: relative;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.faq .faq-list a {
    font-weight: 500;
    display: block;
    position: relative;
    font-size: 1.2rem;
    outline: none;
    color: #464646;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
    font-size: 1.5rem;
    right: 3%;
    margin-left: auto;
}

.faq .faq-list p {
    color: #0d0502;
    margin-bottom: 0;
    font-size: 1rem;
    padding: 1.5rem;
    padding-top: 0px;
}

.faq .faq-list .icon-show {
    display: none;
}

.faqbg2 {
    background-color: #0eafc4;
    color: #fff !important;
}

.faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
    display: none;
}

@media (max-width: 767px) {
    .faq .faq-list a {
        font-size: 18px;
    }
    .faq .faq-list p {
        font-size: 15px;
        padding: 1rem;
        padding-top: 0px;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    position: relative;
    background-color: #59c35f;
    background-size: cover;
    background-repeat: no-repeat;
    color: #0c0502;
    padding-bottom: 0px;
}

#curve {
    position: absolute;
    top: 0px;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .form-control.dropdown-toggle option {
    color: #0c0502;
}

#footer .footer-top .footer-contact p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
    font-weight: 300;
    letter-spacing: 0.3px;
}

#footer .footer-top h4 {
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

#footer ul {
    list-style: none;
    padding: 20px 0;
    margin: 0;
}

#footer ul li {
    padding: 5px 0;
    display: inline-block;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    margin-right: 15px;
    color: #fff;
    letter-spacing: 0.3px;
}

#footer ul li:first-child {
    padding-top: 0;
}

#footer ul a {
    color: #0c0502;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
}

.footer_bottom p {
    margin: 0;
    padding: 25px 0px;
}

.footer_bottom {
    border-top: 1px solid #e8e8e870;
    margin-top: 25px;
}

#footer ul a:hover {
    color: #ffffff;
}

#footer .media i {
    font-size: 24px;
    padding: 10px 0;
    color: #0c0502;
}

#footer .media-body {
    font-size: 17px;
    padding: 10px;
    letter-spacing: 0.5px;
}

#footer .media-body span {
    white-space: nowrap;
}

#footer .footer_mobile .send-mess-btn {
    color: #000 !important;
    border-radius: 5px;
    padding: 8px 25px 8px 25px !important;
    white-space: nowrap !important;
    transition: 0.3s !important;
    font-size: 17px !important;
    border: none;
    font-weight: 600 !important;
    display: inline-block !important;
    background-color: #fff !important;
    width: 100%;
    cursor: pointer !important;
}

.input-group-prepend {
    margin-right: -1px;
}

#footer .form-control.dropdown-toggle {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0.25rem !important;
}

#footer .form-control.digit {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
    border-bottom-left-radius: 0 !important;
}

#footer .footer_mobile {
    background-color: #fff0;
}

#footer .footer_mobile .form-control {
    color: #151515;
    background-color: #fff0;
    background-clip: padding-box;
    border: 1px solid #00000070;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: left;
}

::-webkit-input-placeholder {
    color: #000000eb !important;
}

::-moz-placeholder {
    color: #000000eb !important;
}

#footer .footer_mobile .form-control:focus {
    background-color: #f5f5f500;
    border-color: #ff8000;
    outline: 0;
    box-shadow: none;
}

#footer .footer_mobile h2 {
    color: #fff;
    font-weight: 600;
    margin: 0;
}

#footer .dropdown-menu {
    min-width: 0px !important;
}

.social-links {
    margin: 10px 0px;
}

#footer .social-links a {
    font-size: 20px;
    display: inline-block;
    background: linear-gradient(0deg, #bed7c9, #ddf3e0);
    color: #0c0502;
    text-align: center;
    box-shadow: 0px 4px 8px 0px #4c8c66;
    line-height: 1;
    margin-right: 4px;
    padding: 10px 0;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #f0ecfb;
    color: #000;
}

#footer .logo img {
    width: 250px;
}

#footer .dropdown-menu {
    height: 135px;
    overflow: auto;
    border-radius: 0px;
}

#footer .dropdown-menu {
    min-width: 0px !important;
}

#footer .dropdown-item {
    padding: 0.25rem 1.2rem !important;
}

.countrycode {
    position: relative;
    display: inline-block;
}

.countrycode::before {
    position: absolute;
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAe0lEQVRIie3QMQ6CQBCF4e8WEMXCy5lY6nVRIHoQbGbjxhiLRUKzf/sm/5sZKpXK5lzR/MgbXErlZ8y4Yfcl30c241RS0KIPwRTCXD5F1sdsES3Gj5JcPi6RJzrcQzjg4f26bqk8L0mXpM3/Js9LnmvJE0cc1pJXKhvxAizdHWNeRqoZAAAAAElFTkSuQmCC);
    top: 6px;
    right: 8px;
    height: 20px;
    width: 20px;
    z-index: 1;
    filter: brightness(0);
}

#footer .form-group textarea {
    height: 120px !important;
}

@media (max-width: 1339px) {}

@media (max-width: 991px) {
    #footer .footer_mobile h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    #footer .footer-contact p {
        font-size: 15px
    }
    #footer .media-body {
        font-size: 15px;
    }
}

.top-text {
    margin-top: -239px;
    padding-left: 80px
}

.devlopment p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0c0502;
    text-align: left;
    margin-bottom: 1.5rem;
}

.devlopment h2 {
    color: #0c0502;
    /*padding: 0px 0px 20px 0px;*/
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
    padding: 0;
}

.aucapp-image {
    position: relative;
}

@media (max-width: 1440px) {
    .dev-image {
        height: 480px;
        width: 100%;
    }
    #hero button {
        margin-top: -260px;
        width: 213px;
    }
}

@media (max-width: 768px) {
    .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 1024px) {
    .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about-features {
        padding-left: 10px;
    }
}

.centered {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hero h2 {
    color: #0c0502;
    padding: 0px 0px 20px 0px;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 45px;
    margin: 0;
    padding: 0;
    text-align: center;
}

@media (width: 1024px) {
    .col-md-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .centered {
        position: absolute;
        top: 88%;
        left: 37%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 425px) {
    .col-md-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.device-img {
    height: 694px;
    width: 515px;
    padding-right: 30px
}

#hero p {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #0c0502;
    text-align: left;
    margin-bottom: 10px;
}


}
@media screen and (max-width: 575.98px) {
    #hero p {
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 575.98px) {
    #hero h1 {
        font-size: 28px;
        margin-bottom: 1rem;
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width: 1440px) {
    #hero button {
        margin-top: 10px;
        width: 213px;
    }
}
.internal-link {
    color: #028fcc !important;
    cursor: pointer;
}